#table-contenido{

    margin-top: 50px;
    border: 2px solid rgb(255, 225, 225);
    padding: 40px;
    border-radius: 5px;
    
}


.texto-pendientes{
    text-align: center;
    margin-bottom: 30px;

}

