input {
    font-family: 'Akrobat', sans-serif;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: rgb(7, 20, 136);
    font-size: 23px;
}

#superTitulos {
    color: rgb(83, 83, 95);
    font-family: 'Alata', cursive;
    text-align: center;
    position: relative;
    font-size: 3vw;
    text-shadow: 3px 3px 2px black;
}

form {
    width: 600px;
    margin: auto;
    border-radius: 10px;
    color: black;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: 1px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.74);
    border: 1px solid gray;
    background: linear-gradient(to bottom, white, rgba(128, 128, 128, 0.322));
    background-color: white;
}

#divBotonGuardar {
    text-align: center;
    width: 100%;
}

@media(max-width: 500px) {
    form {
        width: 100%;
    }
}

.contenedor {
    position: relative;
    border: 1px solid blue;
    margin: 50px auto;
    width: 400px;
    height: auto;
    background-color: rgb(238, 236, 240);
    background-size: cover;
    border-radius: 10px;
}

.caja {
    position: relative;
    margin: 20px 20px;
}

#background {
    background: #F8F8F8;
    height: 500px;
}